# Environment files
scrapper-alexis/.env
scrapper-alexis-web/.env
.env
*.env
!env.docker.template

# Docker volumes data
data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.cursor/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak

# Node modules
scrapper-alexis-web/node_modules/
node_modules/

# Python cache
scrapper-alexis/__pycache__/
scrapper-alexis/**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build artifacts
scrapper-alexis-web/build/
scrapper-alexis-web/dist/
scrapper-alexis-web/.next/

# Dependencies
scrapper-alexis-web/package-lock.json
scrapper-alexis-web/yarn.lock
scrapper-alexis-web/pnpm-lock.yaml

.playwright-mcp/
scrapper-alexis-web/storage/framework/views/0e77af55a4dccf5e433c787536c397b1.blade.php
scrapper-alexis-web/storage/framework/views/1c5c02f2c164c81961eb25b8f59ce527.php
scrapper-alexis-web/storage/framework/views/2eb6a45740d5501716fc908faec72f9b.blade.php
scrapper-alexis-web/storage/framework/views/3b7aa9bec1258b1ea3ed8f7ed68494e6.php
scrapper-alexis-web/storage/framework/views/3c8074a530dbd48b71053f50d87e47b7.php
scrapper-alexis-web/storage/framework/views/5b298c191bbd9d5d7c2b05ddff45503b.blade.php
scrapper-alexis-web/storage/framework/views/5c5a0314fd623e70af6f980a8f2f1b14.php
scrapper-alexis-web/storage/framework/views/5cd881b2897264f16f4a76dd5da4af43.php
scrapper-alexis-web/storage/framework/views/06e8d1862211283a8c57ca65193188b8.blade.php
scrapper-alexis-web/storage/framework/views/7b8f00cfd87f0fab8d2b55962309ff55.blade.php
scrapper-alexis-web/storage/framework/views/7ce78e01c18488e3dab1884d4ad2737f.php
scrapper-alexis-web/storage/framework/views/7d61a82a8af90852cc33649faa0c2c43.php
scrapper-alexis-web/storage/framework/views/7d2551e24a1c8c94dedd66f6244f0cd6.php
scrapper-alexis-web/storage/framework/views/9e0f8801aad9c6e49298b2483e92b986.php
scrapper-alexis-web/storage/framework/views/9e2be1fb3e87ceb72ed7b9964f414872.blade.php
scrapper-alexis-web/storage/framework/views/14e25075c86c87f7d9363c4fcce0718a.php
scrapper-alexis-web/storage/framework/views/033f46c9a98e03b9a35923dfbc8ff480.blade.php
scrapper-alexis-web/storage/framework/views/43dacf402b8c8f37c24258083e5864a4.php
scrapper-alexis-web/storage/framework/views/73e229745cf922ab74d842a8f75781c4.blade.php
scrapper-alexis-web/storage/framework/views/89acf7e075e2721c806a9c41f2f0efa0.php
scrapper-alexis-web/storage/framework/views/0095d807306de136840e54b95abf3f9d.php
scrapper-alexis-web/storage/framework/views/135ace268f4eb122364f231421bea411.php
scrapper-alexis-web/storage/framework/views/158e456235e4fee32e7234259234764c.php
scrapper-alexis-web/storage/framework/views/160ce9119220db17cb2077be94a857ae.blade.php
scrapper-alexis-web/storage/framework/views/212cfe41c5132558cd504e19fd7d24c8.blade.php
scrapper-alexis-web/storage/framework/views/402de2ba4bf0904eb1b4607d4b464df3.php
scrapper-alexis-web/storage/framework/views/1083df8a1806bd4a9cc09e208032c837.blade.php
scrapper-alexis-web/storage/framework/views/7780c2e65e0e5a15daba1ff9f70fbad6.blade.php
scrapper-alexis-web/storage/framework/views/9499b6a5ec9c8fa9fadda3b09a49ee56.php
scrapper-alexis-web/storage/framework/views/a2d03e4ea8c1b845ba33863d1bc3f18c.blade.php
scrapper-alexis-web/storage/framework/views/aa554cb0809cfc5ea964d288c59373de.blade.php
scrapper-alexis-web/storage/framework/views/aaed4bae385353be4177eb073b07a009.blade.php
scrapper-alexis-web/storage/framework/views/bcc29da5e8c503fdb058b6e7e3efeb70.blade.php
scrapper-alexis-web/storage/framework/views/bf8e593d999247144df1d53c69d306d1.blade.php
scrapper-alexis-web/storage/framework/views/c9309ba41c86d64da7c07a4ce9a19ec8.php
scrapper-alexis-web/storage/framework/views/ca5ab78034fe5ba9941d1734c959333f.php
scrapper-alexis-web/storage/framework/views/cef38512739bb1a04310b370cc9af590.php
scrapper-alexis-web/storage/framework/views/d2334cac16bc87d4817f3e629d192697.php
scrapper-alexis-web/storage/framework/views/dcf1e92d4e13492ec1f81c85a5a42e78.php
scrapper-alexis-web/storage/framework/views/e51aa789405ac6cb42d58c9f06096b64.blade.php
scrapper-alexis-web/storage/framework/views/e2071e0ba1f0428fd5ad2c4984441ff0.blade.php
scrapper-alexis-web/storage/framework/views/e9365d96a02f2cd9df023550f4655a6e.blade.php
scrapper-alexis-web/storage/framework/views/ea2f4f594aa2e93306c78f217f4e4e72.php
scrapper-alexis-web/storage/framework/views/eef9b64dfd26482e41168a1f4af98ca3.php
scrapper-alexis-web/storage/framework/views/f7a40aab30b423cbd5b4690bbab68844.php
scrapper-alexis-web/storage/framework/views/f27e6cf0e21a1e9474368e8271f73820.blade.php
scrapper-alexis-web/storage/framework/views/f37d9640b2c3da8e7362e7777422329e.php
scrapper-alexis-web/storage/framework/views/f5652dd505b2e0897ec1a7ef6f967d7f.blade.php
scrapper-alexis-web/storage/framework/views/f60883f9e3db820d3a8458314a0f5784.php
scrapper-alexis/debug_output/run_20251106_041717_multi_profile_scraper_20251106_041717/extraction/profile_1_session_1_20251106_041830_messages.json
scrapper-alexis/debug_output/run_20251106_041717_multi_profile_scraper_20251106_041717/extraction/profile_2_session_2_20251106_042024_messages.json
scrapper-alexis/debug_output/run_20251106_041717_multi_profile_scraper_20251106_041717/extraction/profile_3_session_3_20251106_042230_messages.json
scrapper-alexis/debug_output/run_20251106_041717_multi_profile_scraper_20251106_041717/extraction/profile_4_session_4_20251106_042405_messages.json
scrapper-alexis/debug_output/run_20251106_050417_multi_profile_scraper_20251106_050417/extraction/profile_1_session_7_20251106_051340_messages.json
scrapper-alexis/debug_output/run_20251106_050417_multi_profile_scraper_20251106_050417/extraction/profile_2_session_8_20251106_051716_messages.json
scrapper-alexis/debug_output/run_20251106_050417_multi_profile_scraper_20251106_050417/extraction/profile_4_session_5_20251106_050730_messages.json
scrapper-alexis-web/storage/framework/views/0b66ae94ee791d4f709b38f6a61b4bc8.php
scrapper-alexis-web/storage/framework/views/2a26ad1a83e98dc3efa5418c17ca7064.php
scrapper-alexis-web/storage/framework/views/3bcddfcb34ba01bdf1db79f381858176.blade.php
scrapper-alexis-web/storage/framework/views/4de4bf58cdbf90748054efafeeb426be.php
scrapper-alexis-web/storage/framework/views/9fcc1e79893df477cb35445fe0587222.blade.php
scrapper-alexis-web/storage/framework/views/29dca121b9c99e4f2c5538cbce93bec0.blade.php
scrapper-alexis-web/storage/framework/views/49d58ce64a1f9deb0e7aab682560f575.blade.php
scrapper-alexis-web/storage/framework/views/89d51c5adc2d0c3dc94c635364820c3e.blade.php
scrapper-alexis-web/storage/framework/views/133baa45f87e9708055f04f7cec480a5.php
scrapper-alexis-web/storage/framework/views/463e8703cd8566262574fc4a816a6655.php
scrapper-alexis-web/storage/framework/views/08757fcbade1bde292936e883dc29515.php
scrapper-alexis-web/storage/framework/views/2413085ded22453911cb737618ab3882.php
scrapper-alexis-web/storage/framework/views/a00f01ec07655c923483acde1f674915.php
scrapper-alexis-web/storage/framework/views/b40fe7daf5da52a68070c0eb326d915b.php
scrapper-alexis-web/storage/framework/views/b80abf9222d46287744289d6806de8b7.php
scrapper-alexis-web/storage/framework/views/ba4979c41599a3556e1ebe2ff21931a5.php
scrapper-alexis-web/storage/framework/views/bde87a7c5de69340836af73899318433.php
scrapper-alexis-web/storage/framework/views/bed823e931a29e09589a967c8d5a0024.blade.php
scrapper-alexis-web/storage/framework/views/c3e11dd4a377803ace37fa77bc4e7094.php
scrapper-alexis-web/storage/framework/views/cbdb7ed87605631f89d8f10c5642d402.blade.php
scrapper-alexis-web/storage/framework/views/d4da2504cc3802a953248bb6eed68530.php
scrapper-alexis-web/storage/framework/views/d603c2d0691f1a9f3623eac39ace65c6.blade.php
scrapper-alexis-web/storage/framework/views/dc07f54c6e3ba5a3d95fa1b49da96356.blade.php
scrapper-alexis-web/storage/framework/views/e5a9d4de892de37bd6ee65d8b7b37ef7.blade.php
scrapper-alexis-web/storage/framework/views/e8638aaa15137425329758e833d49088.blade.php
scrapper-alexis-web/storage/framework/views/f34ca90a1a1bd59de18012637bcfaf95.php
scrapper-alexis-web/storage/framework/views/f60a9bb4428cc96fce793dac7214f4bb.blade.php
scrapper-alexis-web/storage/framework/views/f605eb9e20ed079717892304d9164193.php
